version: '3.8'

networks:
  bigdata:
    driver: bridge

services:
  # Контейнер отвечает за загрузку данных с kaggle
  data-downloader:
    build: .
    command: >
      bash -c "
        set -e; 
        if [ ! -f /data/raw/olist_orders_dataset.csv ]; then
          echo 'Olist dataset not found. Downloading from Kaggle...' &&
          kaggle datasets download -d olistbr/brazilian-ecommerce -p /data/raw --unzip &&
          echo 'Download and extraction complete.';
        else
          echo 'Olist dataset already exists. Skipping download.';
        fi
      "
    volumes:
      - ./data:/data
      - ./.kaggle:/root/.kaggle
    networks:
      - bigdata
  # Контейнер отвечает за распределнную оюраотку данных и загрузку в БД
  spark-master:
    build: 
      context: .
      dockerfile: spark/Dockerfile
    container_name: spark-master
    command: >
      /opt/spark/bin/spark-class
      -Dspark.master.rest.enabled=true
      -Dspark.master.rest.port=6066
      org.apache.spark.deploy.master.Master
    ports:
      - "8080:8080"
      - "7077:7077"
      - "6066:6066"  # <= обязательно!
    volumes:
      - ./spark/apps:/opt/spark/jobs
      - ./data:/opt/spark/data
    depends_on:
      data-downloader:
        condition: service_completed_successfully
    environment:
      SPARK_MASTER_HOST: spark-master
      SPARK_MASTER_PORT: 7077
      SPARK_MASTER_WEBUI_PORT: 8080
      SPARK_MASTER_REST_PORT: 6066
    networks:
      - bigdata
  # Контейнер-ассистент для spark-master
  spark-worker:
    build:
      context: .
      dockerfile: spark/Dockerfile
    container_name: spark-worker
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    volumes:
      - ./spark_jobs:/opt/spark/jobs
      - ./data:/opt/spark/data
    depends_on:
      data-downloader:
        condition: service_completed_successfully
      spark-master:
        condition: service_started
    networks:
      - bigdata
  # Контейнер Data-lake, в котором хранятся сырые данные
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9001:9001"
      - "9000:9000"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    depends_on:
      data-downloader:
        condition: service_completed_successfully
    networks:
      - bigdata
  # Котейнер БД, в который загружаются обработанные данные
  postgres:
    image: postgres:13
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: project_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d project_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - bigdata
  # Контейнер для миграций
  prefect-migrate:
    build:
      context: ./prefect
      dockerfile: Dockerfile
    container_name: prefect-migrate
    command: >
      bash -c "
        echo 'Upgrading database...' &&
        prefect server database upgrade --yes &&
        echo 'Database migration complete.' &&
        echo 'Creating/Updating deployment...' &&
        prefect work-pool create --type process spark-pool &&
        prefect deployment build /opt/prefect/flows/etl_flow.py:big_data_etl_flow -n 'Big Data ETL' --pool spark-pool --apply
      "
    environment:
      PREFECT_API_DATABASE_CONNECTION_URL: "postgresql+asyncpg://user:password@postgres:5432/project_db"
    volumes:
      - ./flows:/opt/prefect/flows
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - bigdata
  # Контейнер prefect, который руководит всеми процессами - от загрузки данных в minio до загрузки обработанных данных в postgres
  prefect-server:
    build:
      context: ./prefect
      dockerfile: Dockerfile
    container_name: prefect-server
    command: prefect server start --host 0.0.0.0
    restart: unless-stopped
    ports:
      - "9090:4200"
    environment:
      PREFECT_API_DATABASE_CONNECTION_URL: "postgresql+asyncpg://user:password@postgres:5432/project_db"
      PREFECT_API_URL: "http://prefect-server:4200/api"
    depends_on:
      prefect-migrate:
        condition: service_completed_successfully
    networks:
      - bigdata
  # Контейнер-ассистент для prefect, аналогичен spark
  prefect-worker:
    build:
      context: ./prefect
      dockerfile: Dockerfile
    container_name: prefect-worker
    command: prefect worker start -p spark-pool
    restart: unless-stopped
    volumes:
      # УБИРАЕМ: - /var/run/docker.sock:/var/run/docker.sock
      
      # Flow коды
      - ./flows:/opt/prefect/flows
      
      # Данные (чтобы видеть файлы для загрузки в MinIO)
      - ./data:/data
      
      # ДОБАВЛЯЕМ: Скрипты Spark (они должны лежать по тому же пути, что и в Spark контейнерах)
      - ./spark/apps:/opt/spark/jobs
      
      # ДОБАВЛЯЕМ: JAR файлы (нужны драйверу для общения с S3 и Postgres)
      - ./spark/jars:/opt/extra-jars
      
    environment:
      PREFECT_API_URL: "http://prefect-server:4200/api"
      # Указываем Spark, где искать python (иногда требуется)
      PYSPARK_PYTHON: python3 
    depends_on:
      prefect-server:
        condition: service_started
    networks:
      - bigdata
  # Контейнер дашборда для визуализации и аналитики
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - bigdata